{% extends 'layout.html' %}

{% block content %}

<div class="row">
    <div class="col-sm-4 offset-2">
        <img width="100%" src="/uploads/{{ pokemon.picture }}" alt="pokemon-img">
    </div>
    <div class="col-sm-6">

        <h3 class="h4">{{ pokemon.name }}</h3>
        <p class="text-center">{{ pokemon.description }}</p>

        {% for type in pokemon.types %}
        <a href="/types/{{ type.name }}" class="badge" style="background-color: {{ type.color }};color: #FFF;">{{ type.name }}</a>
        {% endfor %}

        <hr>
        <a class="btn btn-primary" href="/edit/{{ pokemon.id }}">Editer</a>
        <a class="btn btn-danger" href="/delete/{{ pokemon.id }}" onclick="return window.confirm()">Supprimer</a>

    </div>
</div>

{% endblock %}