{% extends 'layout.html' %}

{% block content %}

<div class="row">
    <div class="col-sm-4 offset-2">
        <img width="100%" src="{{ pokemon.picture }}" alt="pokemon-img">
    </div>
    <div class="col-sm-6">

        <h3 class="h4">{{ pokemon.name }}</h3>
        <p class="text-center">{{ pokemon.description }}</p>

        {% for type in pokemon.types %}
        <span class="badge" style="background-color: {{ type.color }};color: #FFF;">{{ type.name }}</span>
        {% endfor %}

    </div>
</div>

{% endblock %}